:root {
    --white: #fff;
    --blue5: #f8f9f9;
    --blue10: #eff2f3;
    --blue15: #e4ecee;
    --blue20: #d1dfe4;
    --blue50: #abc6cf;
    --blueBlack: #35393c;
    --blueBlack105: #292b2d;
    --gold5: #fcfbf9;
    --gold10: #f4efe7;
    --gold50: #d6c0a2;
    --gray: #a6a6a6;
    --gray50: #ddd;
    --grayBlack: #333;
    --grayBlack50: #777;
    --grayBlack105: #19191b;
    --green5: #f1fffb;
    --green10: #e7f7f3;
    --orange5: #fff5e9;
    --orange10: #fff0df;
    --pink5: #fff7fa;
    --pink10: #fde2ea;
    --purple5: #f3f1ff;
    --purple10: #e7e4ff;
    --red5: #fff5f5;
    --red10: #fee6e7;
    --skyBlue5: #f4f8ff;
    --skyBlue10: #e2ecfe;
    --yellow5: #ffffe8;
    --yellow10: #fef6d9;
    --gray-grayBlack-pair: #a6a6a6;
    --gray50-blueBlack110-pair: #ddd;
    --grayBlack-white-pair: #333;
    --orange5-grayBlack105-pair: #fff5e9;
    --orange50-blueBlack50-pair: #ffce95;
    --white-blueBlack105-pair: #fff;
    --x-h-padding: 0px
}

@media (min-width:414px) {
    :root {
        --x-h-padding: 2px
    }
}

@media (min-width:768px) {
    :root {
        --x-h-padding: 12px
    }
}

.ua-frodo-webview-darkmode {
    --white: #35393c;
    --blue5: #292b2d;
    --blue10: #202224;
    --blue15: #19191b;
    --blue20: #19191b;
    --blue50: #4b5054;
    --blueBlack: #a6a6a6;
    --blueBlack105: #a6a6a6;
    --gold5: #2b241e;
    --gold10: #24211c;
    --gold50: #614b2f;
    --gray: #777;
    --gray50: #4b5054;
    --grayBlack: #a6a6a6;
    --grayBlack50: #777;
    --grayBlack105: #fff;
    --green5: #25302f;
    --green10: #25302f;
    --orange5: #322613;
    --orange10: #322613;
    --pink5: #392732;
    --pink10: #392732;
    --purple5: #342d43;
    --purple10: #342d43;
    --red5: #302525;
    --red10: #302525;
    --skyBlue5: #2c2f40;
    --skyBlue10: #2c2f40;
    --yellow5: #302e25;
    --yellow10: #302e25;
    --gray-grayBlack-pair: #333;
    --gray50-blueBlack110-pair: #202224;
    --grayBlack-white-pair: #fff;
    --orange5-grayBlack105-pair: #19191b;
    --orange50-blueBlack50-pair: #4b5054;
    --white-blueBlack105-pair: #292b2d
}

@media (prefers-color-scheme:dark) {

    .ua-frodo-webview,
    .ua-webview {
        --white: #35393c;
        --blue5: #292b2d;
        --blue10: #202224;
        --blue15: #19191b;
        --blue20: #19191b;
        --blue50: #4b5054;
        --blueBlack: #a6a6a6;
        --blueBlack105: #a6a6a6;
        --gold5: #2b241e;
        --gold10: #24211c;
        --gold50: #614b2f;
        --gray: #777;
        --gray50: #4b5054;
        --grayBlack: #a6a6a6;
        --grayBlack50: #777;
        --grayBlack105: #fff;
        --green5: #25302f;
        --green10: #25302f;
        --orange5: #322613;
        --orange10: #322613;
        --pink5: #392732;
        --pink10: #392732;
        --purple5: #342d43;
        --purple10: #342d43;
        --red5: #302525;
        --red10: #302525;
        --skyBlue5: #2c2f40;
        --skyBlue10: #2c2f40;
        --yellow5: #302e25;
        --yellow10: #302e25;
        --gray-grayBlack-pair: #333;
        --gray50-blueBlack110-pair: #202224;
        --grayBlack-white-pair: #fff;
        --orange5-grayBlack105-pair: #19191b;
        --orange50-blueBlack50-pair: #4b5054;
        --white-blueBlack105-pair: #292b2d
    }
}